.App {
  background: #b3ddf2; /*"Chicago Blue"*/
  display: flex;
  flex-flow: row nowrap;    
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listItem {
  background-color: whitesmoke;
  list-style: none;
  font-size: 1rem;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.3);
  padding: .5rem; 
  margin-top: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}

.venueList {
  padding: 1rem;
}

#search {
  font-size: 1rem;
  height: 2rem;
  width: 100%;

}

.sidebar {
  background-color: #b3ddf2; 
  width: 25%;
  position: relative;
  z-index: 100;
  display: inline-block;
  margin-top: 3em;
  overflow: scroll;
  width: 320px;
  max-width: 100%;
}


#navbar {
  display: inline-block;
  z-index: 100;
  background: #b3ddf2;
  width: 100%;
  position: fixed;
  
}

#headerText {
  float: left;
  margin-left: 1em;

}

.menu-text {
  float: right;
}

.attribution {
  font-size: small;
}

@media (max-width: 475px) {
  #headerText {
    font-size: 1.2rem;
    padding: 0px 10px;
    margin-top: 1em;
  }
  #search {
    width: 95%
  }
  .sidebar {
    background-color: #b3ddf2; 
    width: 90%;
    margin-top: 3.5em;
  }
  .listItem {
  font-size: .7rem;
  font-weight: bold;
  }
}